@charset "UTF-8";
/* common */
body{
    color: #707070;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    line-height: 2em;
}

h1{
    line-height: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.inner{
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
}

/* header */
header{
    margin: 50px auto 80px;
}

header img{
    display: block;
    margin: 0 auto;
}

.global_menu ul{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.global_menu li{
    margin-right: 40px;
}

.global_menu a{
    font-size: 15px;
    color: #707070;
}

.global_menu a:hover, .global_menu .current{
    color: #FFBF9D;
}

/* main */
article{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

article .article_text{
    margin-left: 30px;
}

.article_text h2{
    margin-bottom: 14px;
}

.newsletter{
    margin-top: 120px;
    border-bottom: 1px solid #707070;
}

.newsletter .lead{
    margin-bottom: 30px;
    color: #303030;
    font-size: 26px;
    font-weight: bold;
}

.newsletter a{
    display: inline-block;
    margin: 40px 0;
    padding: 20px 40px;
    font-size: 15px;
    color: #fff;
    background-color: #FFBF9D;
}

.information{
    margin-bottom: 40px;
}

.information tbody{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.information tr{
    width: 50%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.information th{
    width: 36%;
    margin-right: 20px;
    color: #fff;
    background-color: #303030;
    font-size: 13px;
}

/* footer */

footer{
    margin: 50px 0;
}

footer small{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

/* for pc */
@media (min-width:600px){

    header .inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main .articles{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .articles article{
        width: 49%;
    }

    .newsletter{
        width: 58%;
        padding-right: 30px;
        border-bottom: none;
        border-right: 1px solid #707070;
    }

    .informations{
        display: flex;
        justify-content: space-between;
    }

    .information table{
        margin-top: 100px;
    }

    .information tbody{
        display: block;
    }

    .information tr{
        width: auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    footer small{
        text-align: left;
    }



}